body{
    margin: 0px;
}
h1{
    text-align: left;

}
.navbar ul{
    list-style-type: none;
    background-color: rgb(146, 107, 59);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    

}
.right{
    color: azure;
    text-decoration: none;
    padding: 12px;
    display: block;
    height: 10px;
    
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: right;
}
h3{
    text-align: center;
    color: brown;
}
